*{
    margin: 0;
    padding: 0;
}
header{
    overflow: hidden;
}
.logo{
    height: 80px;
    background-color: aqua;
    text-align: center;
    font-size: 20px;
    width: 30%;
    float: left;
}
.banner{
    height: 80px;
    background-color: black;
    text-align: center;
    font-size: 20px;
    color: cornsilk;
    width: 70%;
    float: right;
}
.bar{
    height: 80px;
    background-color: darkgreen;
    text-align: center;
    font-size: 20px;
    color: darkturquoise;
}
.content-section{
    overflow: hidden;
}
.left{
    background-color: teal;
    height: 400px;
    width: 20%;
    float: left;
}
.center{
    background-color: yellowgreen;
    height: 400px;
    width: 60%; 
    float: left;
}
.top{
    background-color: crimson;
    height: 20%;
}
.middle{
    background-color: darkgoldenrod;
    height: 60%;
    overflow: hidden;
}
.mid-left{
    background-color:dodgerblue;
    width: 50%;
    float: left;
    height: 100%;
}
.mid-right{
    background-color: darkseagreen;
    width: 50%;
    float: right;
    height: 100%;
}
.bottom{
    background-color: darkgreen;
    height: 20%;
}
.right{
    background-color: brown;
    height: 400px;
    width: 20%;
    float: right;
}
footer{
    background-color: rgb(56, 0, 0);
    color: honeydew;
    text-align: center;
    font-size: 40px;
}